[Desktop Entry]
Type=Application
Name=TickCal
Comment=A Fluent 2 style calendar & todo app based on Slint + Rust
Categories=Office;Calendar;Utility;
Exec=tickcal
Icon=tickcal
Terminal=false
StartupNotify=true
